body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-bottom: 100px;
    overflow-x: hidden;
    width: 100%;
}


.container {
    width: 375px; /* Default width */
    height: 812px; /* Default height */
    padding: 10px;
    margin: 0 auto;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.logo-container {
    display: flex;
    justify-content: center;
}

.logo-container img {
    width: 352px;
    height: 42px;
}

.section-divider {
    height: 20px;
    width: 100%; /* Takes full width */
}

form {
    display: flex;
    flex-direction: column;
    padding-top: 10px; /* Additional padding for spacing */
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #191E2F;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #095fff;
}

.additional-info {
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
}

.additional-info .info-left {
    flex-grow: 1;
}

.additional-info .info-right {
    flex-grow: 1;
    text-align: right;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.note {
    display: flex;
    align-items: center;
    margin-top: 10px;
    background-color: #c9c9c9; /* Background color */
    border-radius: 5px; /* Border radius */
    padding: 20px; /* Padding for inner content */
}


.note-icon {
    flex-grow: 0;
    margin-right: 5px;
}

.note-text {
    flex-grow: 1;
    height: 20px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 0 10px;
}

.note-text p {
    margin: 0;
}

.note-checkbox {
    margin-top: 10px;
    flex-grow: 0;
}

.note-checkbox input[type="checkbox"] {
    display: none;
}

.note-checkbox label {
    width: 20px;
    height: 20px;
    background-color: #777;
    border-radius: 5px;
    display: inline-block;
}

.note-checkbox input[type="checkbox"]:checked + label {
    background-color: #191E2F;
}


.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; /* Add some space between the buttons and the section divider */
}

.buttons button {
    flex-grow: 1; /* Make buttons fill the width */
    border-radius: 0; /* Remove border radius */
}
@media (max-width: 375px) {
    .modal-dialog {
        width: calc(100% - 40px); /* Adjust the width to fit within the screen width, subtracting padding */
        min-width: 300px; /* Ensure a minimum width of 300px */
        margin: 0 auto; /* Center the modal horizontally */
        max-width: 100%; /* Ensure the modal does not exceed screen width */
    }

    .modal-content {
        width: 100%; /* Ensure the content fills the modal width */
    }

    .modal-body {
        padding: 1rem; /* Optionally, you can adjust the padding */
    }
}
.btn {
    background-color: #191E2F;
    outline: none;
    border: none;
}

#msg {
    display: block;
    margin: 0 auto; /* This centers the element horizontally */
    text-align: center; /* This centers the text within the element */
    width: fit-content; /* This makes the width of the element fit its content */
    padding-top: 40px;
}
